<!-- component -->
<header>
    <nav class="bg-transparent" x-data="{ open: false }">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <a href="#" class="flex-shrink-0 flex items-center">
                        <img class="block lg:hidden h-12 w-auto" src="/images/logo.jpeg" alt="Logo">
                        <img class="hidden lg:block h-12 w-auto" src="/images/logo.jpeg" alt="Logo">
                    </a>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="/listings" class="text-green-900 hover:border border-black hover:bg-white hover:text-black px-3 py-2 rounded-md text-lg font-medium mt-1">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center space-x-4 ">
                    <!-- search box/div here -->
                    <div class="relative mx-auto hidden sm:block  sm:ml-6">
                        <input type="text" class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Search Destinations">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <!-- End of search box/div -->
                    
                    <% if(!currUser) { %>
                        <a href="/listings/new" class="text-green-900 hover:border border-black hover:bg-white hover:text-black px-3 py-2 rounded-md text-md font-small hidden sm:block sm:ml-6">Travelofy your place</a>
                       <a href="/signup" class="px-3 py-2 border border-black bg-white text-green-900 hover:bg-green-900 hover:text-white rounded-md text-sm font-medium font-bold hidden sm:block sm:ml-6">Sign In</a>
                       <a href="/login" class="px-3 py-2 border border-black bg-white text-green-900 hover:bg-green-900 hover:text-white rounded-md text-sm font-medium font-bold hidden sm:block sm:ml-6">Login</a>
                       
                    <% } %>
                    <% if(currUser){ %>
                        <a href="/listings/new" class="text-green-900 hover:border border-black hover:bg-white hover:text-black px-3 py-2 rounded-md text-md font-small hidden sm:block sm:ml-6">Travelofy your place</a>
                       <a href="/logout" class="px-3 py-2 border border-black bg-white text-green-900 hover:bg-red-900 hover:text-white rounded-md text-sm font-medium font-bold hidden sm:block sm:ml-6">Logout</a>
                    <%}%>
                    <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-green-900 hover:text-white hover:bg-green-900 focus:outline-none focus:bg-green-900 focus:text-white lg:hidden sm:hidden" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!-- Icon when menu is closed. -->
                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                        <!-- Icon when menu is open. -->
                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" x-show="open" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="#" class="text-text-green-900 hover:bg-green-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Explore</a>
                <a href="#" class="text-text-green-900 hover:bg-green-900 hover:text-white block px-3 py-2 rounded-md text-base font-small">Travelofy your place</a>
                <% if(!currUser) { %>
                   <a href="/signup" class="text-text-green-900 hover:bg-green-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign In</a>
                   <a href="/login" class="text-text-green-900 hover:bg-green-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Login</a>
                <% } %>
                <% if(currUser){ %>
                    <a href="/logout" class="text-text-green-900 hover:bg-green-900 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Logout</a>
                <% } %>
            </div>
        </div>
        <hr></hr>
    </nav>
    

  

 
</header>







